@import "tailwindcss";

@theme {
  --color-purple-dark: #4b03a5;
  --color-purple-light: #b99ae0;
  --breakpoint-md: 800px;
  --breakpoint-lg: 1280px;
  --breakpoint-xl: 1480px;
}

body {
  font-family: var(--font-playfair-display) !important;
}
